body {
    background-color: #ebeffa; /* Light gray background */
    font-family: 'Roboto', sans-serif; /* Custom font: Roboto */
}

h1 {
    color: #ba88d1; /* Blue headings */
}

.toast-container {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
}
